.discussion-h1-class {
  color: black;
  text-align: center;
  margin-top: 20px;
  font-size: 50px;
  text-shadow: 0 0 5px white;
}

.discussion-h2-class {
  color: black;
  text-align: left;
  margin-top: 20px;
  font-size: 30px;
  text-shadow: 0 0 5px white;
  margin-left: 25%;
}

.discussion-background {
  height: 100%;
  width: 100%;
  position: fixed;
  object-fit: cover;
  z-index: -1;
  background: -webkit-linear-gradient(45deg, #49a09d, #5f2c82);
  background: linear-gradient(45deg, #49a09d, #5f2c82);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 500ms ease-in-out;
}

body {
  margin: 20;
  background: -webkit-linear-gradient(45deg, #49a09d, #5f2c82);
  background: linear-gradient(45deg, #49a09d, #5f2c82);
  font-family: sans-serif;
  font-weight: 100;
}

.paragraph {
  text-align: center;
  width: 50%;
  margin: auto;
  font-size: 30px;
  font-weight: 100;
}
