body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal overflow */
}

.discussion-background {
  min-height: 100vh; /* Ensures the background covers the full viewport height */
  padding-bottom: 50px; /* Adds some space at the bottom of the page */
}

.discussion-container {
  max-height: 600px;
  overflow-y: auto; /* Enables vertical scrolling if content exceeds 600px */
  margin: 20px auto; /* Centers the container */
  width: 90%; /* Adjust the width as needed */
  max-width: 2500px; /* Set a max-width for larger screens */
  font-size: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  table-layout: fixed; /* Ensures the table columns have consistent widths */
}

th,
td {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #000000;
  word-wrap: break-word; /* Forces content to wrap within the cell */
}

th {
  text-align: center;
}

thead th {
  background-color: #e5e1db;
}

tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

tbody td {
  position: relative;
  text-align: center;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #000000;
  word-wrap: break-word; /* Ensure long words or URLs wrap within the cell */
}

a {
  pointer-events: auto; /* Ensure links are clickable */
}

td a {
  position: relative;
  z-index: 1; /* Puts the link on top of any other content */
}
